/* src/App.css */
.dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 24px; /* Adjust font size as needed */
}

.header .logo {
  width: 90px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between logo and text */
  vertical-align: middle; /* Align logo vertically with text */
}

.date-time p {
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

table {
  width: 70%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: blue;
  color: white;
}

th {
  font-weight: bold;
}

.employee-of-the-month {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-of-the-month img {
  width: 100%;
  max-width: 300px; /* Adjust the max width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}

/* Media queries to handle different screen sizes */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  table {
    width: 100%;
    margin-bottom: 20px;
  }

  .employee-of-the-month {
    width: 100%;
    align-items: center;
  }
}

.increase {
  color: green;
}

.decrease {
  color: red;
}

